<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiyun.kfcoding.basic.dao.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuiyun.kfcoding.basic.model.Book">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="type" property="type" />
        <result column="brief" property="brief" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="level" property="level" />
        <result column="surface_image" property="surfaceImage" />
        <result column="surface_background" property="surfaceBackground" />
        <result column="status" property="status" />
        <result column="priority" property="priority" />
        <result column="version" property="version" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        b.id, b.title, b.author, b.type, b.brief, b.create_time, b.user_id, b.level, b.surface_image, b.surface_background, b.status, b.priority, b.version, b.update_time, b.is_del
    </sql>

    <select id="selectPublicList" resultType="com.cuiyun.kfcoding.basic.model.Book">
      SELECT
        <include refid="Base_Column_List" />
      FROM
        basic_book b
      <if test="condition.tagId != null">
      INNER JOIN basic_book_to_book_tag b2t ON b.id = b2t.book_id
      INNER JOIN basic_book_tag t ON t.id = b2t.tag_id
      </if>
      WHERE 1=1
        <if test="condition.tagId != null">
            AND t.id = #{condition.tagId}
        </if>
        <if test="condition.title">
            AND b.title LIKE "%"#{condition.title}"%"
        </if>
        <if test="condition.level != null">
            AND b.level LIKE #{condition.level}
        </if>
        <if test="condition.status != null">
            AND b.status = #{condition.status}
        </if>
    </select>

    <select id="selectPublicPageCount" resultType="java.lang.Long">
        SELECT
          count(b.id)
        FROM
         basic_book b
        <if test="condition.tagId != null">
            INNER JOIN basic_book_to_book_tag b2t ON b.id = b2t.book_id
            INNER JOIN basic_book_tag t ON t.id = b2t.tag_id
        </if>
        WHERE 1=1
        <if test="condition.tagId != null">
            AND t.id = #{condition.tagId}
        </if>
        <if test="condition.title">
            AND b.title LIKE "%"#{condition.title}"%"
        </if>
        <if test="condition.level != null">
            AND b.level LIKE #{conditon.level}
        </if>
        <if test="condition.status != null">
            AND b.status = #{condition.status}
        </if>
    </select>

</mapper>
